div.oi-type-div {
    margin: 0;
    padding: 0;
    padding-left: 20px;
}
div.oi-type-div h3 {
    margin: 0;
    padding: 0;
}

div.oi-item-div {
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

div.oi-item-div h3 {
    margin: 0;
    padding: 0;
}

div.oi-item-div h3 span.type-display {
    font-weight: normal;
    color: gray;
    font-size: 0.9em;
    font-style: italic;
}

table.oi-entity-table tr {
    vertical-align: top;
}

table.oi-entity-table td {
    vertical-align: top;
    padding-right: 10px;
}

p.oi-restricted-note {
    font-style: italic;
    font-size: 0.8em;
}


div.oi-entity-list {
}
div.oi-entity-list h3.oi-entity-title {
}
div.oi-entity-list h3.oi-entity-title span.oi-entity-type {
    font-weight: normal;
    color: gray;
    font-size: 0.9em;
    font-style: italic;
}

div.oi-entity-list div.oi-entity-roles {
}
div.oi-entity-list div.oi-entity-roles p.oi-role {
    margin: 0;
}
div.oi-entity-list div.oi-entity-roles p.oi-role span.oi-role-title {
    font-size: 0.9em;
    color: gray;
    font-weight: bold;
}
div.oi-entity-list div.oi-entity-roles p.oi-role span.oi-role-members {
}

div.oi-entity-list div.oi-entity-fields {
}
div.oi-entity-list div.oi-entity-fields p.oi-field {
    margin: 0;
}
div.oi-entity-list div.oi-entity-fields p.oi-field span.oi-field-name {
    font-size: 0.9em;
    color: gray;
    font-style: italic;
}
div.oi-entity-list div.oi-entity-fields p.oi-field span.oi-field-value {
}


div.oi-entity-list div.oi-entity-members {
}
div.oi-entity-list div.oi-entity-members h4.oi-entity-members-title {
    font-size: 1em;
    margin: 0;
}
div.oi-entity-list div.oi-entity-members ul {
    margin-top: 0;
}
div.oi-entity-list div.oi-entity-members ul li.oi-member {
}
div.oi-entity-list div.oi-entity-members ul li.oi-member span.oi-inline-role-title {
    font-weight: normal;
    color: gray;
    font-size: 0.9em;
    font-style: italic;
}
